@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma-rtl.min.css";
.App {
  text-align: center;
}

.round{
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutButton{
  background-color: lightblue !important;
  border: none !important;
  box-shadow: .2rem .1rem .5rem .1rem rgba(0, 0, 0, 0.114);
}

.checkoutButton:active{
  transform: scale(90%);
  transition: 50ms ease-in-out;
  border: none !important;
}